@{
    ViewBag.Title = "Index";
}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="30"
                         height="30"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="#1de9b6"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="auth-icon">
                    </svg>
                    <div>
                        <h1>
                            ATMS
                        </h1>
                        <p>Let's Go</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>