@model ATMS_TestingSubject.Models.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="container">

    <h2>Details</h2>

    <div>
        <h4>Department</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Name department
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepName)
            </dd>
            <dt>
                head of department
            </dt>

            <dd>
                @{
                    if (Model.UserInfoes.Where(a => a.DepId == Model.DepId).Count() == 0)
                    {
                        <p class="text-danger"> No Heads</p>
                    }
                    else
                    {
                        foreach (var Name in Model.UserInfoes.Where(a => a.DepId == Model.DepId))
                        {
                            <p>
                                @Name.Name
                            </p>
                        }
                    }
                }

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Departments", "Admin")
    </p>

</div>