

<div class="container">

        @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="form-group">
            @DateTime.Now.ToLongTimeString()

            @Html.DisplayName("are u active?")
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
           

        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default" />
            |
            
        </div>
        }

       
    </div>
    
  
    </div>